/* Font Face
-------------------------------------------------- */
@font-face {
  font-family: 'Gibson';
  src: url('http://media2.bazaarvoice.com/binary/Gibson-Light.70cae794.eot'); /* IE9 Compat Modes */
  src: url('http://media2.bazaarvoice.com/binary/Gibson-Light.70cae794.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://media2.bazaarvoice.com/binary/Gibson-Light.e978fb33.woff') format('woff'), /* Modern Browsers */
       url('http://media2.bazaarvoice.com/binary/Gibson-Light.f038e2af.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://media2.bazaarvoice.com/binary/Gibson-Light.f5472f4f.svg#6dabfe3bbac5436f9fb4acdf6bfc80a1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gibson';
  src: url('http://media2.bazaarvoice.com/binary/Gibson-Regular.ec48858c.eot'); /* IE9 Compat Modes */
  src: url('http://media2.bazaarvoice.com/binary/Gibson-Regular.ec48858c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://media2.bazaarvoice.com/binary/Gibson-Regular.98b240c7.woff') format('woff'), /* Modern Browsers */
       url('http://media2.bazaarvoice.com/binary/Gibson-Regular.5a836021.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://media2.bazaarvoice.com/binary/Gibson-Regular.931bf467.svg#bb4fbf86d689ca03dd32847e97000d9e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gibson';
  src: url('http://media2.bazaarvoice.com/binary/Gibson-SemiBold.65220962.eot'); /* IE9 Compat Modes */
  src: url('http://media2.bazaarvoice.com/binary/Gibson-SemiBold.65220962.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://media2.bazaarvoice.com/binary/Gibson-SemiBold.96c41534.woff') format('woff'), /* Modern Browsers */
       url('http://media2.bazaarvoice.com/binary/Gibson-SemiBold.271c5b02.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://media2.bazaarvoice.com/binary/Gibson-SemiBold.48bc8f60.svg#009dde5e4853a76515f39a40e4117f78') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


@font-face
{
    font-family: foralRegular;
    src: url('http://media2.bazaarvoice.com/binary/ForalPro-Regular.eot?') format('eot'),
    url('http://media2.bazaarvoice.com/binary/ForalPro-Regular.woff') format('woff'),
    url('http://media2.bazaarvoice.com/binary/ForalPro-Regular.ttf') format('truetype');
}

