html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0 auto;
  font-family: "Gibson", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // peg footer to bottom
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;

  &.no-cta {
    padding-bottom: $footer-height-no-cta;
  }
}



h2 {
  color: $primarycolor1;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: $primarycolor1;
  font-weight: 700;
  font-size: 3.4rem;
}

p {
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 0.04em;
  line-height: 1.2;

  &.subtitle {
    text-align: center;
    color: $secondarycolor2;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mod-hr {
  .hr {
    height: 1px;
    max-width: 285px;
    margin: 0 auto;
  }
}

a {
  transition: all 0.3s;

  &,
  &:hover {
    color: #008FB2;
  }
}

.section {
  h2 {
    padding-top: 6rem;
    margin-top: 0;

    @media #{$mobile} {
      padding-top: 4rem;
    }
  }
}

@media #{$tablet} {
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
}

@media #{$mobile} {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    &.subtitle {
      color: $secondarycolor2;
      max-width: 100%;
    }
  }
}

.container {
  max-width: 1170px;
  width: auto !important;
  margin: 0 auto;
  padding: 0;

  @media #{$tablet} {
    max-width: 95%;
  }

  @media #{$mobile} {
    padding: 0 2rem;
  }

  hr {
    margin: 0 auto;
    height: 1px;
    border: none;
    background: #d7d7d7;
    max-width: 285px;
  }
}

.img-responsive {
  max-width: 100%;
}

.btn {
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1;
  border-radius: 0.6rem;
  user-select: none;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

.navbar.small {

  &:before {
    background: rgba(255,255,255,0.9);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(238,238,238,0.9)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    opacity: 1;
    @include box-shadow(0 0px 6px rgba(0,0,0,0.4));
  }
}

.navbar-collapse.in,
.navbar-collapse.collapsing {
  padding: 1em;

  // background: rgba(255,255,255,0.9);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(238,238,238,0.9)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(238,238,238,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
}

// Header
header {
  .container {

    @media #{$tablet} {
      max-width: 95%;
    }

    @media #{$mobile} {
      max-width: none;
      width: auto !important;
    }
  }

  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin: 0;
  }
  .navbar-default {
    background: transparent;
    border: none;

    &:before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      display: block;
      z-index: -1;
      transition: all 0.5s ease;
    }

    #logo {
      max-width: 64px;

      @media #{$mobile} {
        max-width: 4rem;
      }
    }

    .navbar-brand {
      height: auto;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-right: 25px;

      @media #{$mobile} {
        padding: 12px 8px;
      }
    }

    .navbar-toggle {
      margin-right: 0;
      margin-top: 16px;
    }

    .navbar-nav {
      li {
        padding: 35px 15px 35px 30px;
        transition: border-color .2s linear;
        position: relative;

        $underline-height: 4px;
        a {
          color: $primarycolor1;
          line-height: 20px;
          border-bottom: $underline-height solid transparent;
          padding-left: 0;
          padding-right: 0;

          &:hover {
            color: $primarycolor2;
          }
          &:after {
            content: '';
            height: $underline-height;
            background-color: $primarycolor2;
            width: auto;
            position: absolute;
            right: 0;
            bottom: -$underline-height - 4;
            left: 0;
            transform: scaleX(0);
            opacity: 0;
            transition: all .4s cubic-bezier(.165,.84,.44,1);
            transform-origin: 50% 50%
          }
          &:hover:after,
          &.active:after {
            transform: scaleX(1);
            opacity: 1;

            @media #{$mobile} {
              transform: scaleX(0);
              opacity: 0;
            }
          }
        }

        @media (max-width: 960px) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .navbar-left {
      font-size: 2.0rem;

      @media (max-width: 960px) {
        font-size: 1.6rem;
      }
    }
    .navbar-right {
      font-size: 1.6rem;

      li {
        padding-left: 0;
      }

      .btn {
        font-size: 1.8rem;
        font-weight: 400;
        border-radius: 3.75px;
        transition: all 0.3s;
        padding-left: 1.2em;
        padding-right: 1.2em;
        border: 1px solid transparent;

        &:after {
          height: 0;
        }
      }
      .btn-primary {
        color: #fff;
        background-color: $secondarycolor1;
        border: 1px solid $secondarycolor1;

        &:hover {
          background-color: darken($secondarycolor1, 5%);
          border-color: darken($secondarycolor1, 5%);
          color: #fff;
        }
      }
      .btn-login {
        &:hover {
          background: rgba(255,255,255,.4);
          border-color: $primarycolor1;
          color: $primarycolor1;
        }
      }
    }

    @media #{$mobile} {
      .navbar-nav {
        margin: 0;

        li {
          padding: 5px 0;
          text-align: center;
        }
      }
      .navbar-left, .navbar-right {
        font-size: 1.8rem;
      }
    }


    .navbar-text {
      font-size: 1.45rem;
    }

  }

  #hamburger_text_signup {
    font-size: 2rem;
    background-color: $primarycolor2;
    border-color: transparent;
    width: 100%;
  }

  #hamburger_text_signin {
    font-size: 1.75rem;
    background-color: $primarycolor2;
    border-color: transparent;
    width: 100%;
  }
}

// // Footer
.ms-footer {
  background-color: $primarycolor1;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .copy {
    padding-top: 2.25rem;
  }

  a {
    color: $primarycolor2;
  }
}

body.no-cta {
  .ms-footer {
    height: $footer-height-no-cta;
  }
}

.modal {

  .modal-title {
    font-size: 2.5rem;
    font-weight: 200;
  }

  .share_modal_btn {
    background-color: #5FA811;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.25rem 3.5rem;
    // width: 100%;
  }

  .modal_label {
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 1.5rem;
  }

  #message_label {
    margin-top: 3rem;
  }
}

#price_modal {
  .iframe {
    width: 100%;
    position: relative;
    padding-top: 100%;
    iframe {
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
    }
  }
}
