.resources-grid {
  margin: 7rem 0 2rem 0;

  .col {
    position: relative;
    margin-bottom: 4.0rem;
  }
  h4 {
    color: #fff;
    background: $primarycolor2;
    font-size: 1.4rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0.5 * $grid-gutter-width;
    margin: 0;
    padding: 0.7em 0.6em 0.5em;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid $primarycolor2;
  }
  h3 {
    font-size: 1.9rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  p {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.02em;

    a {
      color: $primarycolor2;
      text-transform: uppercase;
    }
  }

  @media #{$mobile} {
    margin-top: 6rem;

    .col {
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
}


.mod-resource {
  padding-top: 18.0rem;
  padding-bottom: 9rem;

  @media #{$mobile} {
    padding-top: 8rem;
  }

  @media #{$mobile} {
    .col-sm-6 {
      padding: 0;
    }
  }

  .col-left {
    margin-right: 4rem;

    @media #{$mobile} {
      margin-right: 0;
    }
  }

  h2 {
    font-size: 4.8rem;
    text-align: left;
    margin: 0 0 0.25em;
    padding: 0;
  }

  .labeled-image {
    position: relative;

    @media #{$mobile} {
      margin-bottom: 4rem;
    }

    h4 {
      color: #fff;
      background: $primarycolor2;
      font-size: 1.4rem;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0.7em 0.6em 0.5em;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border: 1px solid $primarycolor2;
    }
  }

  .mktoForm {
    font-family: 'Gibson' !important;
    font-size: 1.6rem !important;
    width: 100% !important;
    margin-top: 0;

    .mktoFormRow {
      margin-bottom: 6px;
    }

    input[type=text],
    input[type=url],
    input[type=email],
    input[type=tel],
    input[type=number],
    input[type=date],
    textarea.mktoField,
    select.mktoField {
      padding: 0.6em;
      box-shadow: none;
      width: 100% !important;
      border: 1px solid #787878;
      font-size: 2.0rem;
    }

    .mktoAsterix,
    .mktoOffset,
    .mktoGutter {
      display: none !important;
    }

    .mktoRequiredField label:after {
      color: red;
      font-size: 1em;
      content: "*  ";
    }

    label,
    .mktoRequiredField label.mktoLabel {
      font-family: 'Gibson', sans-serif;
      font-weight: normal;
      font-weight: 200;
      font-size: 2.2rem;
      margin: 0.4em 0 0.2em;
    }

    .mktoFormCol,
    .mktoFieldWrap,
    label {
        width: 100% !important;
    }

    .mktoButtonRow {
      width: 100%;
    }

    .mktoButtonWrap {
      display: block;
      margin: .6em auto 0 !important;
    }

    button.mktoButton {
      font-family: 'Gibson', sans-serif;
      border-radius: 3.75px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: #fff;
      background-color: $primarycolor2;
      border: 1px solid $primarycolor2;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 1.3rem 1.8rem;

      &:hover {
        background-color: darken($primarycolor2, 5%);
        border-color: darken($primarycolor2, 5%);
        color: #fff;
      }
    }

    .mktoError {
      position: static;

      .mktoErrorArrowWrap {
        position: static;
        height: 0;
      }

      .mktoErrorArrow {
        display: none;
      }

      .mktoErrorMsg {
        margin-top: 0;
        background: none;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        color: red;
      }
    }
  }

  #resource-form {
    margin-top: 3rem;
  }

  .complete {
    margin-top: 4rem !important;
    padding: 1rem 2rem 2rem;
    background: #ececec;

    h3 {
      margin-top: 1rem;
      font-size: 3rem;
    }

    .btn-default {
      color: #fff;
      background-color: $primarycolor2;
      border: 1px solid $primarycolor2;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 1.3rem 1.8rem;

      &:hover {
        background-color: darken($primarycolor2, 5%);
        border-color: darken($primarycolor2, 5%);
        color: #fff;
      }
    }
  }

}
