.mod-interactive-chart {
  padding-bottom: 10em;
  
  @media #{$mobile} {
    padding-bottom: 6em;
  }
  
  .reviews {
    width: 80%;
    margin: 6em auto 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media #{$tablet} {
      width: 95%;
    }

    @media #{$mobile} {
      margin-top: 3em;
      width: 100%;
      flex-direction: column;
    }

    .product {
      width: 39%;

      @media #{$tablet} {
        width: 40%;
      }

      @media #{$mobile} {
        width: 100%;
        margin: 0 auto 3em;
        text-align: center;
      }

      .rateYo {
        display: inline-block;
        vertical-align: middle;
      }

      .review_results {
        margin: 0;
        display: block;

        @media #{$tablet} {
          width: 85%;
        }

        @media #{$mobile} {
          margin: 0 auto;
          width: 50%;
        }
      }

      .review_count {
        width: auto;
        margin: 0 0 0 0.2em;
        padding: 0;
        color: $primarycolor1;
        line-height: 32px;
        font-size: 3.15rem;
        font-weight: bold;
        letter-spacing: 0.15em;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        top: 0.2rem;

        @media #{$tablet} {
          font-size: 2.0rem;
        }

        @media #{$mobile} {
          font-size: 3rem;
        }

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }

    .comparison {
      width: 61%;
      padding-left: 6em;
      overflow: visible;

      @media #{$tablet} {
        width: 60%;
      }

      @media #{$mobile} {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
      }

      //Image comparison
      .img-comparison {
        width: 100%;
        margin-bottom: 4.5rem;
        position: relative;
      }

      .x-axis {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;

        right: 100%;
        height: 100%;
        transform-origin: top left;

        @media #{$mobile} {
          display: none;
        }

        li {
          height: 21%;
          font-size: 1.4rem;
          padding-right: 1.7rem;

          @media #{$mobile} {
            font-size: 1.1rem;
          }
        }
        &:before {
         content: "ORDER LIFT";
         position: absolute;
         right: 80%;
         top: 14%;
         transform: translate(0, -50%);
         height: 0;
         width: 100px;
         font-weight: bold;
         text-align: center;
         transform-origin: top bottom;
         transform: rotate(-90deg);
         letter-spacing: 0.05em;
         font-size: 1.7rem;
       }
      }

      .y-axis {
        position: absolute;
        width: 100%;
        top: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;

        li {
          width: 10%;
          font-size: 1.4rem;
          padding-top: 1rem;
          float: left;
          text-align: right;
          position: relative;
          left: 0.5em;

          @media #{$mobile} {
            font-size: 1.1rem;
          }
        }
        &:before {
         content: "REVIEWS PER PRODUCT";
         position: absolute;
         width: 100%;
         top: 100%;
         padding-top: 5.5rem;
         font-weight: bold;
         text-align: right;
         font-size: 1.7rem;
         letter-spacing: 0.05em;       }
      }

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #ccc;
        position: absolute;
        left: 0;
        bottom: 0;
        .tooltip.active {
          opacity: 1;
          display: block;
        }
        &:hover {
          .tooltip {
            opacity: 1;
            display: block;
          }
        }
      }

      .tooltip {
        font-family: "Gibson", Helvetica, Arial, sans-serif;
        width: 150px;
        height: 90px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
        //opacity: 1;
        display: none;
        left: 0;
        padding-top: 2.5rem;
        bottom: 2rem;
        background: white;
        border-radius: 10px;
        text-align: center;
        transition: all .25s ease-out;
        z-index: 5;

        p {
          width: auto;
          font-size: 1.6rem;
          letter-spacing: 0;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1;
          margin: 0.1em 0;
        }

        .lift {
          color: $primarycolor2;
        }

        &:before {
          position: absolute;
          border-top: 20px solid #ffffff;
          border-right: 25px solid transparent;
          border-left: 0px solid transparent;
          left: 10px;
          bottom: -12px;
          content: '';
        }
        
      }

      .one {
        left: 1%;
        bottom: 12%;
      }

      .two {
        left: 8.75%;
        bottom: 33%;
      }

      .three {
        left: 49%;
        bottom: 57%;
      }

      .four {
        left: 99%;
        bottom: 79%;

        .tooltip {
          right: 0;
          left: initial;
        }


        .tooltip:before {
          right: 4px;
          left: initial;
          border-top: 20px solid #ffffff;
          border-right: 0px solid transparent;
          border-left: 20px solid transparent;
        }
      }
      .background {
        width: 100%;
        height: 100%;
        bottom: 0;
      }

      .divisor {
        background-color: $primarycolor2;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        position: absolute;
        width: 50%;
        bottom: 0;
        height: 100%;
      }

      .foreground {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
      }
    
    }
  }
  
}