.featurette {

  margin: 0 auto 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  flex-grow: 0;
  flex-shrink: 0;

  @media #{$mobile} {
    flex-direction: column;
    
  }

  .image,
  .text {
    width: 50%;

    @media #{$mobile} {
      padding: 0 !important;
      width: auto !important;
      text-align: center;
    }
  }
      
  h4 {
    color: $secondarycolor2;
    font-weight: 700;
    font-size: 3.4rem;    
  }
  
  &.featurette-1 {
    margin-top: 6em;
    margin-bottom: 4%;

    .image {
      width: (4/12)*100%;
      img {
        margin: 0 0 0 auto;
      }
    }
    .text {
      width: (7/12)*100%;
      padding-top: 9%;
      padding-left: 7.1%;
      padding-right: 0%;
    }
  }
  &.featurette-2 {
    margin-bottom: 11%;

    .image {
      width: (7/12)*100%;
      padding-left: 7.1%;
      padding-right: 12%;
    }
    .text {
      width: (5/12)*100%;
      padding-top: 9.5%;
      padding-right: 7%;
    }
  }
  &.featurette-3 {
    margin-bottom: 10%;

    .image {
      width: (7/12)*100%;
      padding-right: 4%;
      img {
        margin: 0 0 0 auto;
      }
    }
    .text {
      width: (5/12)*100%;
      padding-left: 7.1%;
      padding-right: 2%;
      padding-top: 3%;
    }
  }
  &.featurette-4 {
    margin-bottom: 8em;

    .image {
      width: (7/12)*100%;
      padding-left: 2%;
      padding-right: 12%;
    }
    .text {
      width: (5/12)*100%;
      padding-right: 3%;
      padding-top: 11%;
    }
  }
  
  @media #{$tablet} {
    margin: 0 auto 2em;

    h4 {
      font-size: 3.0rem;
    }

    &.featurette-1 {
      margin-top: 6em;

      .image {
        width: (3/12)*100%;
        img {
          margin: 0 auto;
        }
      }
      .text {
        width: (8/12)*100%;
        padding-top: 9%;
        padding-right: 3%;
      }
    }
    &.featurette-2 {
      margin-bottom: 7%;

      .image {
        width: (6/12)*100%;
        padding-right: 4%;
      }
      .text {
        width: (6/12)*100%;
        padding-top: 5.5%;
      }
    }
    &.featurette-3 {
      margin-bottom: 6%;

      .image {
        width: (6/12)*100%;
        padding-left: 4%;
      }
      .text {
        width: (6/12)*100%;
        padding-right: 0;
        padding-top: 0%;
      }
    }
    &.featurette-4 {
      margin-bottom: 8em;

      .image {
        width: (6/12)*100%;
        padding-right: 4%;
      }
      .text {
        width: (6/12)*100%;
        padding-right: 3%;
        padding-top: 6%;
      }
    }
  }
  @media #{$mobile} {
    margin-bottom: 4em !important;
    
    .image {
      order: 0 !important;
      margin-bottom: 3em;
      
      img {
        margin: 0 auto !important;
      }
    }
    .text {
      order: 1 !important;
    }
    h4 {
      font-size: 2.4rem;
    }
    
    &.featurette-1 {
      img {
        max-height: 70vw;
        width: auto;
      }
    }
  }
  
}



.see-it-in-action {
  .video-player {
    max-width: 660px;
    margin: 5em auto 8em;
    
    @media #{$mobile} {
      margin-bottom: 6em;
    }
  }
}


.mod-cta {
  $background: #db662b;
  
  text-align: center;
  
  .container {
    padding-bottom: 3rem;
  }
  
  h3 {
    padding-top: 3rem;
    font-size: 4.8rem;
  }
  p.sub {
    color: #fff;
  }
  
  .btn-primary {
    background: #fff;
    color: $background;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.3rem 1.8rem;
    margin: 1.25em 0 1.75em;
    
    &:hover {
      border-color: #fff;
    }
  }
  
  &.pricing-cta {
    .btn-primary {
      background: $background !important;
      color: #fff !important;
    
      &:hover {
        border-color: $background;
      }
    }
  }
  
  .request-demo {
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;

    a {
      font-weight: 200;
      color: #fff;
      text-decoration: underline;
    }
  }
  .post-cta {
    font-size: 1.8rem;
  }
  
  .modal {
    .modal-dialog {
      width: 540px;

      @media #{$mobile} {
        width: auto;
      }
    }
    h3 {
      padding-top: 1rem;
    }
    p {
      margin: 1em 0;
    }
  }

  #rm-demo-form {
    padding: 0 15px;
  }
  
  .mktoForm {
    margin: 1rem auto;
    font-family: 'Gibson' !important;
    font-size: 1.6rem !important;
    width: 100% !important;

    .mktoFormRow {
      margin-bottom: 6px;
    }

    input[type=text],
    input[type=url],
    input[type=email],
    input[type=tel],
    input[type=number],
    input[type=date],
    textarea.mktoField,
    select.mktoField {
      padding: 0.6em;
      box-shadow: none;
      width: 100% !important;
    }
    
    .mktoAsterix,
    .mktoOffset,
    .mktoGutter {
      display: none !important;
    }

    .mktoRequiredField label:before {
      color: red;
      font-size: 1em;
      content: "*  ";
      vertical-align:sub;
    }

    label {
      font-family: 'Gibson', sans-serif;
      color: #003D4C;
      font-weight: normal;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: .2px;
    }

    .mktoRequiredField label.mktoLabel {
      font-family: 'Gibson', sans-serif;
      color: #003d4c;
      font-weight: normal;
      font-weight: 700;
      font-size: 16px;
    }

    .mktoFormCol,
    .mktoFieldWrap,
    label {
        width: 100% !important;
    }

    .mktoButtonRow {
      width: 100%;
    }

    .mktoButtonWrap {
      display: block;
      text-align: center;
      margin: .6em auto 0 !important;
    }

    button.mktoButton {
      font-family: 'Gibson', sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: #fff;
      background-color: #E86D1F;
      border: 1px solid #E86D1F;
      border-radius: 3.75px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      padding: 1.3rem 1.8rem;
    }

    .mktoError {
      position: static;

      .mktoErrorArrowWrap {
        position: static;
        height: 0;
      }

      .mktoErrorArrow {
        display: none;
      }

      .mktoErrorMsg {
        margin-top: 0;
        background: none;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        color: red;
      }
    }
  }


  
  @media #{$mobile} {
    h3 {
      font-size: 3rem;
    }
  }
}

.retailers {
  margin-bottom: 6rem;
  
  @media #{$mobile} {
    margin-bottom: 4rem;
  }
}