.section-review-score {
  height: 512px;
  color: #fff;
  background: #003d4c;
  // background: #003d4c url('../images/index/score_test.jpg') no-repeat center center;

  @media #{$tablet} {
    height: auto;
  }

  @media #{$mobile} {
    height: auto;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;

    &:before,
    &:after {
      display: none;
    }
  }

  .image {
    width: 34%;
    height: 100%;
    padding: 4.6rem 6rem;
    text-align: right;

    @media #{$tablet} {
      padding: 4.6rem 3rem;
    }

    @media #{$mobile} {
      width: 100%;
      padding: 3rem 1rem;
    }

    img {
      max-width: 100%;
      display: inline-block;
    }
  }

  .content {
    width: 66%;
    height: 100%;
    padding: 5.6rem;

    @media #{$tablet} {
      padding: 4.6rem 3rem;
    }

    @media #{$mobile} {
      width: 100%;
      padding: 1rem 1rem 3rem;
    }


    h3 {
      margin-bottom: 0.5em;
      font-family: foralRegular;
      font-size: 3.4rem;
      line-height: 1.2;

      @media #{$tablet} {
        margin-top: 0;
        font-size: 2rem;
      }

      @media #{$mobile} {
        font-size: 2.4rem;
      }
    }

    p {
      font-size: 2rem;
      line-height: 1.3;

      @media #{$tablet} {
        font-size: 1.6rem;
      }

      @media #{$mobile} {
        font-size: 1.4rem;
      }
    }
    .btn.marketing-score {
      color: #ffffff;
      padding: 1.5rem 1em;
      text-transform: uppercase;
      font-family: gibsonSemibold;
      font-size: 1.4rem;
      margin: 2rem 0;
      font-weight: 700;
      letter-spacing: 0.135em;
      background-color: $primarycolor2;
      border-color: transparent;

      @media #{$tablet} {
        font-size: 1.2rem;
      }

      @media #{$mobile} {
        font-size: 1.3rem;
        white-space: normal;
        line-height: 1.5;
      }

      &:hover {
        background-color: darken($primarycolor2, 5%);
      }
    }
    form {
      max-width: 606px;
      margin: 2.2rem 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        width: 50%;

        @media #{$mobile} {
          width: 100%;
        }

        &:last-of-type {
          width: 100%;
          padding-top: 3.2rem;
        }
      }

      label {
        margin-bottom: 0.6em;
        color: #cccccc;
        font-size: 1.4rem;
        display: block;

        @media #{$tablet} {
          margin-top:2rem;
          font-size: 1.2rem;
        }
      }

      .form-control {
        width: 84.5%;
        border: 0;
        padding: 2.4rem 1.2rem;

        @media #{$mobile} {
          width: 100%;
        }
      }

      
    }
  }
}
