.head-title {
  height: 43.75vw;
  max-height: 468px;
  background: $lightbg;

  .container {
    position: relative;
    height: 100%;
  }

  h1 {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 8.0rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1;
    color: $primarycolor1;
    position: absolute;
    top: 58%;
    left: 10%;
    transform: translateY(-50%);

    @media #{$tablet} {
      font-size: 5em;
    }

    @media #{$mobile} {
      font-size: 2.4em;
    }
  }
}

.mod-header {
  height: 43.75vw;
  max-height: 568px;
  font-size: 1rem;
  color: #03323c;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$tablet} {
  }

  @media #{$mobile} {
    height: 52vw;
  }
  
  .container {
    height: 100%;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 6.0rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    position: relative;
    top: 42%;

    @media #{$tablet} {
      font-size: 5em;
    }

    @media #{$mobile} {
      font-size: 3.0em;
    }

    @media (max-width: 480px) {
      font-size: 2.4em;
    }
  }

  h2 {
    margin: 0 0 0.6em;
    padding: 0;
    color: $primarycolor1;
    font-size: 3.4rem;
    font-weight: 400;
    text-align: center;

    @media #{$tablet} {
      font-size: 2.4em;
    }

    @media #{$mobile} {
      font-size: 1.8em;
    }
  }

}