.mod-pct-circle {
  padding-bottom: 4.2em;
  text-align: center;

  @media #{$mobile} {
    padding-bottom: 3em;
  }

  em {
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1;

    @media #{$tablet} {
      font-size: 1rem;
    }
  }


  .charts {
    margin-top: 1.2em;
    margin-bottom: 5.4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media #{$mobile} {
      flex-direction: column;
    }

    .chart {
      width: 33%;
      font-weight: 200;

      @media #{$mobile} {
        width: 100%;
        margin: 0 auto;
      }

      .wrap {
        width: 100%;
        padding-top: 100%;
        position: relative;
      }

      .content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
      }

      svg {
        display:block;
        margin: 0 auto;
      }

      .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

      h2 {
        padding-top: 0;
        font-size: 9rem;
        text-align: center;
        font-weight: 200;
        line-height: 1;
        margin: 0;

        @media #{$tablet} {
          font-size: 5rem;
        }

        @media #{$mobile} {
          font-size: 6.5rem;
        }

        span {
          font-size: 5rem;
          line-height: 1.4;
          display: inline-block;
          vertical-align: top;

          @media #{$tablet} {
            font-size: 2.2rem;
          }

          @media #{$mobile} {
            font-size: 2.8rem;
          }
        }
      }

      p {
        max-width: 60%;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;

        @media #{$tablet} {
          font-size: 1.2rem;
        }

        @media #{$mobile} {
          font-size: 1.5rem;
        }
      }

      .footnote {
        width: 100%;
        top: 100%;
        color: $secondarycolor2;
        line-height: 1;
        text-align: center;
        position: absolute;
      }
    }
  }
}

.robo {
  max-width: 920px;
  margin: 5em auto 8em;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  flex-grow: 0;
  flex-shrink: 0;

  .mult {
    color: #0b3d4c;
    padding-top: 4em;
    width: 47%;

    @media #{$mobile} {
      width: 100%;
      text-align: center;
    }

    h4 {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 3.0rem;
      text-align: center;
    }
    .x {
      font-weight: bold;
      font-size: 12.5rem;
    }
  }

  .result {
    background: #0b3d4c;
    color: #fff;
    text-align: center;
    padding: 3.5em 3em;
    width: 53%;

    @media #{$mobile} {
      width: 100%;
    }

    p {
      text-transform: uppercase;
      font-size: 2.8rem;
      font-weight: normal;
      margin: 0;

      &.pre {
        color: #c0cb56;
      }
    }
    .amount {
      font-weight: bold;
      font-size: 10.0rem;
    }
  }

  @media #{$tablet} {
    .mult {
      padding-top: 4em;


      h4 {
        font-size: 2.4rem;
      }
      .x {
        font-size: 9.0rem;
        text-align: center;
      }
    }

    .result {
      padding: 3.5em 3em;

      p {
        font-size: 2.0rem;
      }
      .amount {
        font-size: 8.0rem;
      }
    }
  }

  @media #{$mobile} {
    margin-bottom: 6rem;

    .mult {

      h4 {
        font-size: 1.4rem;
      }
      .x {
        font-size: 3.0rem;
        text-align: center;
      }
    }
    .result {
      padding: 1.5em 1.5em;

      p {
        font-size: 1.4rem;
      }
      .amount {
        font-size: 3.0rem;
      }
    }
  }

}

.feedback-improvement {
  margin: 8em auto 8em;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  flex-grow: 0;
  flex-shrink: 0;

  img {
    margin: 0 auto;
  }

  $bad-width: 34.5%;
  $improve-width: 20.6%;
  $good-width: 31.6%;
  .bad-review {
    width: $bad-width;
  }
  .arrow {
    width: (100%-($bad-width+$improve-width+$good-width))*0.5;
    padding-top: 11%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .improvement {
    width: $improve-width;
    padding-top: 7%;
  }
  .good-review {
    width: $good-width;
    padding-top: 4%;
  }

  @media #{$mobile} {
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 6em;

    .bad-review {
      width: auto;
      margin-bottom: 1em;
      padding: 0;
    }
    .arrow,
    .improvement,
    .good-review {
      display: none;
    }
  }
}
