// Variables
$primarycolor1: #003D4C;
$primarycolor2: #00AB8E;
$secondarycolor1: #E86D1F;
$secondarycolor2: #444444;
$secondarycolor3: #505050;
$secondarycolor4: #fff;

$lightbg: #ececec;

$footer-height: 62px + 273px; // 273 is height of CTA
$footer-height-no-cta: 62px;

// Media Queries
$tablet: '(max-width: 1200px)';
$mobile: '(max-width: 767px)';

// Imports
@import "fonts";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "normalize";
@import "global";
@import "rangeslider";
@import "rateyo";
@import "notie";
@import "section_1";
@import "reviews_chart";
@import "section_2";
@import "section_3";
@import "resources";
@import "section_score";
