
$primarycolor1: #003D4C;
$primarycolor2: #00AB8E;
$secondarycolor1: #E86D1F;
$secondarycolor2: #686868;
$secondarycolor3: #505050;
$secondarycolor4: #fff;

// Media Queries
$tablet: '(max-width: 1200px)';
$mobile: '(max-width: 767px)';

html {
  background: #e8eaeb url("../images/signup/computerbg.png") no-repeat center bottom;
  background-size: cover;
  min-height: 100%;

  @media #{$mobile} {
    background-size: 160% auto;
  }
}
body {
  background-color: transparent;
  font-size: 10px;
  padding-bottom: 48vw;

  @media #{$tablet} {
    padding-bottom: 48vmax;
  }
}
p, label {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #777;

  @media #{$tablet} {
    font-size: 1.5rem;
  }

  @media #{$tablet} {
    font-size: 1.4rem;
  }
}
.form-group {
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 6rem;
  }
}
h1 {
  font-weight: 200;
  font-size: 5rem;
  letter-spacing: .4rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10rem;
  margin-bottom: 2rem;

  @media #{$tablet} {
    font-size: 3.5rem;
  }

  @media #{$mobile} {
    font-size: 3rem;
  }
}
.container.content {
  max-width: 650px;
  p{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
  }
}

form span.subfield {
  padding: 1rem 0;
  vertical-align: middle;
  display: inline-block;

  @media #{$mobile} {
    padding-bottom: 0;
  }

  input[type='checkbox'] {
    font-size: 2rem;
  }

  label {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
  }
}
.navbar-right {
  margin-right: 15px;
}
.login {
  background-color: #fff;
  min-height: 65px;
  margin-bottom: 2rem;
  text-align: center;

  @media #{$tablet} {
    min-height: 45px;
  }

  p {
    display: inline-block;
    line-height: 65px;
    font-size: 1.5em;
    font-weight: 500;

    @media #{$tablet} {
      line-height: 45px;
      font-size: 1.3em;
    }
  }
}
.iframe {
  width: 100%;
  position: relative;
  padding-top: 100%;
  display: none;

  iframe {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    border: 0;
    overflow: hidden;
  }
}

.help-block {
  margin: 0;
  padding: 2.4rem 0 0;
  font-size: 1.3rem;

  @media #{$mobile} {
    padding: 0;
  }
}

.btn-primary {
  font-size: 1.6rem;
  color: #fff;
  background-color: $secondarycolor1;
  border: 1px solid $secondarycolor1;
  border-radius: 3.75px;
  padding: 1.5rem;
  transition: all 0.3s;
  display:block;

  &:hover,&:active:focus, &:visited, &:focus {
    //color: $secondarycolor1;
    background-color: darken($secondarycolor1,5%);
    border-color: $secondarycolor1;
  }
}
