<div class="section">

<div class='mod-cta'>
  <div class='container'>

    <div class='content'>

      <h3 style="color:#FFFFFF; ">Try it free for 30 days</h3>

      <a data-code='' type="button" href="https://signup-qa.nexus.bazaarvoice.com/subscribe/" class="btn btn-primary" target="_self" style="background-color:#FFFFFF; ">Start Your Trial</a>

      <p class="request-demo">Still not convinced? <a href="#" data-toggle="modal" data-target="#request-demo-modal">Request a demo</a>.</p>

      <div class="modal fade" id="request-demo-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

              <div id="rm-demo-form">
                <h3>Request a demo</h3>

                <p>To request a Review Marketing demonstration, please fill out the form below.</p>

                <script src="//app-aba.marketo.com/js/forms2/js/forms2.min.js"></script>
                <form id="mktoForm_2295"></form>
              </div>

            </div>
          </div>
        </div>
      </div>

      <script>
      MktoForms2.loadForm("//app-aba.marketo.com", "848-PGD-174", 2295);
      MktoForms2.whenReady(function (form) {
        form.onSuccess(function(values, followUpUrl) {
          document.getElementById('rm-demo-form').innerHTML = "<h3>Thank you</h3><p>Thank you for your interest in Review Marketing. We will get back to shortly to schedule a demonstration.</p>";
          return false;
        });
      });
      </script>

    </div>
  </div>
</div>

</div>
<!-- End CTA -->
