#* ==========================================================================
  Template Name: Mod - Header
  Description: Display large module with headline and video
========================================================================== *#
$hdLoc.put('modHeaderStyle', "")

#if($hdLoc.item.backgroundImage && $hdLoc.item.backgroundImage.url != "")
  $hdLoc.put('modHeaderStyle', "background-image:url($hdLoc.item.backgroundImage.url); $hdLoc.modHeaderStyle")
#end

<div class='mod-header' style='$hdLoc.modHeaderStyle' id='$hdLoc.item.id'>
  <div class='container'>
    #if($hdLoc.item.headline && $hdLoc.item.headline != "")
      #set($dpLoc = $util.newHashMap)
      $dpLoc.put("inputText", $hdLoc.item.headline)
      $cms.template("Helper Display Param Content")
      <h1>$!dpLoc.outputText</h1>
    #end

    #if($hdLoc.item.subHeadline && $hdLoc.item.subHeadline != "")
      #set($dpLoc = $util.newHashMap)
      $dpLoc.put("inputText", $hdLoc.item.subHeadline)
      $cms.template("Helper Display Param Content")
      <h2>$!dpLoc.outputText</h2>
    #end

    #if($hdLoc.item.wistiaVideoId && $hdLoc.item.wistiaVideoId != "")
      <div class="video-player">
        <script src="//fast.wistia.com/embed/medias/${hdLoc.item.wistiaVideoId}.jsonp" async></script>
        #set($foo = $page.footerJs.add($global.tags.wistiajs))
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_$hdLoc.item.wistiaVideoId videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
          </div>
        </div>
      </div>
    #end
  </div>
</div>
