#* ==========================================================================
Template Name: MS - Header
========================================================================== *#
<!-- Header -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          #set($iTranslation = "Toggle navigation")
          $cms.template("Helper Get Translation")
          <span class="sr-only">$oTranslation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://${cms.envHost}www.reviewmarketing.com${global.languageRoot.path}"><img id="logo" alt="Brand" src="$cms.media("bvmainlogo.png", "designimages").url" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          #set($iTranslation = "Why Alpine")
          $cms.template("Helper Get Translation")
          <li><a href="#" class="">$oTranslation</a></li>
          #set($iTranslation = "Resources")
          $cms.template("Helper Get Translation")
          <li><a href="#" class="">$oTranslation</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            #set($iTranslation = "Sign in")
            $cms.template("Helper Get Translation")
            <a $global.loginDataAttrs href="$global.loginUrl"  class="">$oTranslation</a>
          </li>
          <li>
            #set($iTranslation = "Start Your Trial")
            $cms.template("Helper Get Translation")
            <a $global.signupDataAttrs href="$global.signupUrl" class="btn btn-primary">$oTranslation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Header -->

