#* ==========================================================================
  Template Name: Mod - Resource
  Description: Display image and form for downloading a resource/asset
========================================================================== *#

#set($page = $util.newHashMap)
$page.put('contentType', 'Mod - Resource')

$cms.template("MS - Top")


<div class='mod-resource' id='$page.content.id'>
  <div class='container'>

    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        <div class="labeled-image">
        #if($page.content.type && $page.content.type != "")
          #set($dpLoc = $util.newHashMap)
          $dpLoc.put("inputText", $page.content.type)
          $cms.template("Helper Display Param Content")
          <h4>$!dpLoc.outputText</h4>
        #end

        #if($page.content.image && $page.content.image.url != "")
          <img src='$page.content.image.url' />
        #end
        </div>
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <div class="col-left">

      #if($page.content.headline && $page.content.headline != "")
        <h2>$!page.content.headline</h2>
      #end

      #if($page.content.summary && $page.content.summary != "")
        $!page.content.summary
      #end

        <script src="//app-aba.marketo.com/js/forms2/js/forms2.min.js"></script>
        <div id="resource-form">
          <form id="mktoForm_$!page.content.marketo" class="mktoForm"></form>
        </div>
          <script>MktoForms2.loadForm("//app-aba.marketo.com", "848-PGD-174", $!page.content.marketo);</script>
          <script>
            MktoForms2.whenReady(function (form) {
        	     form.onSuccess(function(values, followUpUrl) {
                 var formDiv = document.getElementById('resource-form');
                 formDiv.className = 'complete';
                 formDiv.innerHTML = "<h3>Thank You</h3><p>Thank you for your interest in Review Marketing. Your asset is ready for download.</p><a href='$page.content.asset.url' class='btn btn-default' target='_blank'>Download</a>";
        			return false;
        		});
        	});
          </script>

        </div>
      </div>

    </div>

  </div>
</div>


$cms.template("MS - Bottom")
