  <!-- Header -->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="logo" alt="Brand" src="images/index/bvmainlogo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#" class="">Why Alpine</a></li>
            <li><a href="#" class="">Success Stories</a></li>
            <li><a href="#" class="">Resources</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://signup-qa.nexus.bazaarvoice.com/account/login"  class="">Sign in</a>
            </li>
            <li>
              <a data-retailer href="http://www.bazaarvoice.com" class="btn btn-primary">Start Your Trial</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header -->